RewriteEngine On

# this is supposed to kill all referrer traffic from this douche
RewriteCond %{HTTP_REFERER} proximitiportal\.com [NC]
RewriteRule .* - [F]

# trying to redirect some of the crap
RewriteRule lifestream/?.* http://goo.gl/F31jb [R=301,L]
RewriteRule user/?.* http://goo.gl/F31jb [R=301,L]

# canonical and other domains 
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^charliereynolds.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.charliereynolds.com$
RewriteRule ^/?$ http://chuckreynolds.us [R=301,L]

RewriteCond %{HTTP_HOST} ^chuckreynolds.info$ [OR]
RewriteCond %{HTTP_HOST} ^www.chuckreynolds.info$
RewriteRule ^/?$ http://chuckreynolds.us [R=301,L]

RewriteCond %{HTTP_HOST} ^chuckreynolds.me$ [OR]
RewriteCond %{HTTP_HOST} ^www.chuckreynolds.me$
RewriteRule ^/?$ http://chuckreynolds.us [R=301,L]

